.objs/
benchmark_dictionary
csts
encode_dictionary
fill_lemmas
libmorphodita.a
libmorphodita.dyn.a
libmorphodita.so
morpho_accuracy
remap_tags
run_morpho_analyze
run_morpho_cli
run_morpho_generate
run_tagger
run_tokenizer
test_dictionary
tagger_accuracy
train_tagger
