/.build/
encode_derivator
encode_dictionary
libmorphodita.a
libmorphodita.dyn.a
libmorphodita.so
rest_server/morphodita_server
run_morpho_analyze
run_morpho_cli
run_morpho_generate
run_tagger
run_tokenizer
tagger_accuracy
tools/benchmark_dictionary
tools/csts
tools/fill_lemmas
tools/morpho_accuracy
tools/remap_tags
tools/strip_combining_marks
tools/test_dictionary
train_guesser
train_tagger
*.exe
*.swp
